.inicio{
--opacidad-negro: 0.5;
background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/f1background.webp");
background-position: center;
background-size: cover;
height:25rem;  
}
.ana{
    .card{
        border-radius: 10px;
        width: 20.1rem;
    }
    .card-title{
        font-size: 1.5rem;
    }
    .card-img{
        width: 20rem;
        height: 11rem;
    }
}
.pedro{
    .card{
        border-radius: 50px;
    }
    .card-title{
        font-style: italic;
    }
}
.navbar-logo{
    width: 5rem;
    height: 2.5rem;
}
/* .carrousel-img{
    width: 60rem;
    height: 49rem;
} */