.inicio{
--opacidad-negro: 0.5;
background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/f1background.webp");
background-position: center;
background-size: cover;
height:25rem;  
}
.ana{
    .card{
        border-radius: 10px;
        width: 20.1rem;
    }
    .card-title{
        font-size: 1.6rem;
    }
    .card-img{
        width: 20rem;
        height: 11rem;
    }
}
.pedro{
    .card{
        border-radius: 50px;
    }
    .card-title{
        font-style: italic;
    }
}
.navbar-logo{
    width: 5rem;
    height: 2.5rem;
}
.contacto{
    .card{
        width: 18rem;
        background-color: rgba(243, 243, 243, 0.383);
        border: hidden;
        .bi{
            font-size: 3rem;
            color: rgb(0, 0, 0);
        }
        .card-title{
        font-size: 1.4rem;
        }  
        .card-text{
            font-size: 1rem;
        }
    } 
    
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 11px 9px 15px #d7d7d7;
    /* border: 2px solid #f8bebe86; */
    position: relative;
    overflow: hidden;
    display: flex;
    .bi, -card-title{
        color: rgb(255, 35, 42);
    }
}